<div class="container-fluid main-bg">

    <div class="row">
        <nav class="navbar navbar-light bg-grey">
            <div class="container-fluid">
              <a class="navbar-brand">Todos List</a>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-warning" type="submit">Search</button>
              </form>
            </div>
          </nav>
    </div>
    <div class="row">
        <div class="col">
            <div class="container to-do-list">
                <div class="row">
                    <div class="todo-items">
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col to-do-list">

        </div>

        <div class="col to-do-list">

        </div>
    </div>
</div>
