<div class="container-fluid main-bg">

    <div class="row">
        <nav class="navbar navbar-light bg-grey">
            <div class="container-fluid">
              <a class="navbar-brand">Todos List</a>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-warning" type="submit">Search</button>
              </form>
            </div>
          </nav>
    </div>
    <div class="row">
        <div class="col">
            <div class="container to-do-list" id="all-todos" >
                <div class="row">
                    <ng-container *ngFor="let items of MyTodos " >
                        <div class="todo-items" (dragstart)="dragStart(items)"  (dragend)="dragEnd(items)" *ngIf="!items.inprogress&&!items.iscompleted"  [draggable]="true">
                            <h5 class ="todo-heading">{{items.title}}</h5>
                    </div>
                    </ng-container>

                    
                </div>
            </div>
        </div>

        <div class="col to-do-list" id="in-progress"  (dragover)="dragOver('progress')" >
           <div class="row">
            <ng-container *ngFor="let items of MyTodos " >
                <div class="todo-items" *ngIf="items.inprogress" (dragstart)="dragStart(items)"  (dragend)="dragEnd(items)"[draggable]="true">
                    <h5 class ="todo-heading">{{items.title}}</h5>
            </div>
            </ng-container>
           </div>
        </div>

        <div class="col to-do-list" id="completed"  (dragover)="dragOver('completed')" >
           <div class="row">
            <ng-container *ngFor="let items of MyTodos" >
                <div class="todo-items"  *ngIf="items.iscompleted" (dragstart)="dragStart(items)"  (dragend)="dragEnd(items)" [draggable]="true">
                    <h5 class ="todo-heading">{{items.title}}</h5>
            </div>
            </ng-container>
           </div>
        </div>
    </div>
</div>
